@media screen and (max-width:340px) {
    .main {
        position: relative;
        /* border: 2px solid #FFFFFF; */
        font-family: Mukta, sans-serif;
        width: 355px;
     }
    .main .main-wrap {
        position: relative;
        margin: 10px 0 0 15px;
        /* border: 2px solid #FFFFFF; */
        display: block;
        width: 320px;
        height: 3040px;
    }
    .main .main-wrap .profile-box {
        /* border: 2px solid #FFFFFF; */
        position: relative;
        top: 80px;
        left: 7px;
        height: 600px;
    }
    .profile-box .profile-content {
        position: absolute;
        margin-top: 10px;
    }
    .profile-box #name {
        margin: 140px 0 0 95px;
        font-size: 30px;
    }
    .profile-box #role {
        margin: 15px 0 0 84px;
        font-size: 22px;
        width: 120px;
    }
    .social-media {
        margin: 30px 0 10px 65px;
        text-decoration: none;
    }
    .social-media .fa-facebook, .fa-telegram, .fa-instagram, .fa-twitter {
        font-size: 22px;
        margin-right: 30px;
    }
    .profile-box .icons {
        font-size: 18px;
        margin: 25px 0 0 40px;
        letter-spacing: .8px;
    }
    .profile-box .fa-calendar-day, .fa-location-dot, .fa-envelope {
        margin-right: 30px;
    }
    .profile-box p:nth-of-type(3) {
        margin-top: 30px;
    }
    .main-wrap .about-info {
        position: relative;
        top: 100px;
        left: -2px;
        /* border: 2px solid #FFFFFF; */
        width: 330px;
    }


    /* ****************************************************** */


    .about-info .navigation {
        position: absolute;
        background: #0D86FF;
        color: #DEDDE0;
        user-select: none;
        visibility: hidden;
        display: block;
        top: 0;
        right: 0;
        width: 0px;
        height: 0px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 20px;
        z-index: 1;
        overflow: hidden;
        transition:  all .8s;
    }

    .set-color-white {
        color: #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        height: 27px;
        width: 65px;
    }

    /* ***************************************************** */


    .about-content-wrap {
        position: relative;
        top: 0px;
        transition: .8s;
        /* border: 1px solid #FFFFFF; */
    }

    .about-info .about-side-head {
        position: relative;
        top: 60px;
        z-index: 10;
        /* border: 1px solid #FFFFFF; */
        /* border-bottom: 4px solid #0D86FF; */
    }
    .about-info .about-container {
        position: relative;
        top: 80px;
        width: 260px;
        font-size: 22px;

        /* color: #DEDDE0;
        margin: 0px 10px 0 30px;
        letter-spacing: .8px; */
    }
    .about-info .roles-container {
        margin: 200px 0 0 20px;
        width: 300px;
        height: 700px;
    }

    .roles-container .my-roles {
        margin-left: -5px;
        grid-template-columns: 300px;
        grid-template-rows: 210px 210px 210px 210px;

        /* display: grid; */
        /* grid-gap: 50px; */
        /* font-family: Fredoka;
        font-size: 20px;
        letter-spacing: .8px; */
    }
    .roles-container #role-head {
        font-size: 32px;

        /* margin-left: 10px;
        color: #DEDDE0;
        font-family: Fredoka; */
        /* font-weight: 500; */
    }
    .my-roles img {
        width: 35px;
        height: 35px;

        margin: 15px 0 0 15px;
        user-select: none;
    }
    .my-roles .design p:nth-of-type(1){
        margin: -35px 0 0 75px;
        font-size: 25px;
        /* font-weight: 500; */
    }
    .my-roles .design p:nth-of-type(2){
        margin: 25px 0 0 30px;
        width: 250px;
    }
    .my-roles .webdev p:nth-of-type(1) {
        margin: -35px 0 0 70px;
        font-size: 25px;
    }
    .my-roles .webdev p:nth-of-type(2) {
        margin: 25px 0 0 30px;
        width: 250px;
        /* line-height: 25px; */
    }
    .my-roles .cli p:nth-of-type(1){
        margin: -35px 0 0 75px;
        font-size: 25px;
    }
    .my-roles .cli p:nth-of-type(2){
        margin: 25px 0 0 30px;
        width: 250px;
        line-height: 25px;
    }
    .my-roles .mysql p:nth-of-type(1){
        margin: -35px 0 0 75px;
        font-size: 25px;
    }
    .my-roles .mysql p:nth-of-type(2){
        margin: 25px 0 0 30px;
        width: 250px;
    }
    .about-info .communities {
        margin: 380px 0 0 15px;
        width: 300px;
        /* border: 1px solid #FFFFFF; */
    }
    .about-info .communities .head-txt {
        margin-left: 20px;
        font-size: 32px;
    }
    .communities .community-profiles {
        margin-left: 25px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 50px 50px;
        grid-gap: 20px;
        height: 160px;
    }
    .community-profiles div img {
        margin: 12px 0 0 20px;
        width: 35px;
        height: 35px;
    }
    .community-profiles .stackoverflow img {
        width: 30px;
        height: 30px;
    }
    .community-profiles .hacker-rank p {
        font-size: 18px;
        /* color: #0D86FF; */
        /* margin-left: 20px;
        font-family: Fredoka;
        color: #DEDDE0;
        letter-spacing: .8px; */
    }
    .community-profiles .stackoverflow p {
        font-size: 18px;
        /* color: #0D86FF; */
        /* margin-left: 20px;
        font-family: Fredoka;
        color: #DEDDE0;
        letter-spacing: .8px; */
    }
}