@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Mukta:wght@300;400;500&display=swap');


.resume-container {
    position: relative;
    left: 400px;
    /* border: 2px solid #FFFFFF; */
    background-color: #302C40;
    border-radius: 20px;
    width: 900px;
    padding-bottom: 20PX;
    bottom: 20px;
}

.resume-container .nav-btn {
    display: flex;
    right: 0;
    position: absolute;
    background: #0D86FF;
    width: 60px;
    height: 60px;
    border-top-right-radius: 20px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 51%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
}

.resume-container .nav-btn i {
    color: #DEDDE0;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 16px;
    transform: scaleX(-1);
}

.resume-container .nav-btn .fa-xmark {
    margin-left: -18px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.resume-container .nav-btn .fa-bars-staggered {
    margin-left: 16px;
    visibility: visible;
    transition: opacity 1s;
    opacity: 1;
}

.resume-container .navigation {
    user-select: none;
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    background: #0D86FF;
    color: #DEDDE0;
    width: 0;
    height: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    z-index: 1;
    overflow: hidden;
    transition: .8s;
}

/* Js manipulaiton  */
/* White color is applied for active navigation page  */
.set-color-white {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    height: 27px;
}

/* Js manipulaiton */

.resume-container .navigation p {
    margin: 15px 0 0 40px;
    padding: 2px;
    font-size: 18px;
    height: 27px;
    color: #d9d8db;
}

.resume-container .navigation p:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.resume-container .navigation a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.resume-container .navigation a {
    text-decoration: none;
    color: #DEDDE0;
}

.resume-container .resume-side-head {
    font-family: Fredoka;
    font-size: 30px;
    font-weight: 500;
    color: #DEDDE0;
    border-bottom: 4px solid #0D86FF;
    width: 120px;
    height: 40px;
    margin: 25px 0 0 30px;
}

.resume-container .resume-txt p {
    margin: 10px 0 4px 5px;
    padding-bottom: 8px;
    letter-spacing: .6px;
    user-select: none;
}

.resume-container .edu-projects-wrap {
    display: flex;
    padding: 30px 30px 0 40px;
    justify-content: space-between;
    /* margin-top: 30px; */
    /* margin-left: 50px; */
}

.education,
.projects {
    width: 400px;
    /* border: 1px solid #FFFFFF; */
}

.education-container1, .education-container2 {
    margin-left: 20px;
    /* padding-top: -60px; */
    border-left: 4px solid #0D86FF;
}

.education-container3 {
    margin-left: 20px;
}

.education-container1::before, .education-container2::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -12.5px;
    border: 1px solid #0D86FF;
    background-color: #0D86FF;
}

.education-container3::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: -8.5px;
    border: 1px solid #0D86FF;
    background-color: #0D86FF;
}

.education-container1::after {
    content: '';
    position: absolute;
    width: 2.5px;
    height: 20px;
    margin-top: -18px;
    margin-left: -4px;
    border: 1px solid #0D86FF;
    background-color: #0D86FF;
}

.education-container2::after {
    content: '';
    position: absolute;
    width: 2.5px;
    height: 24px;
    margin-top: -18px;
    margin-left: -4px;
    border: 1px solid #0D86FF;
    background-color: #0D86FF;
}

.education-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.education img {
    user-select: none;
    width: 40px;
    height: 40px;
}

.education #edu {
    margin-left: 25px;
    color: #DEDDE0;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: .6px;
}

.education #edu::selection {
    background-color: #302C40;
    color: #0D86FF;
}

.education-head-text p {
    /* margin-top: -15px; */
    margin-left: 30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .4px;
    color: #DEDDE0;
    font-family: Fredoka, sans-serif;
}

.education-content {
    margin: 10px 0 0 45px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .6px;
    line-height: 22px;
    color: #DEDDE0;
    font-family: Fredoka, sans-serif;
}

.edu-projects-wrap p::selection {
    background-color: #302C40;
    color: #0D86FF;
}

.separator-for-mobile {
    user-select: none;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 95px;
}

.projects img {
    user-select: none;
    margin: 10px 0 0 45px;
    width: 40px;
    height: 40px;
}

.projects #pro {
    margin: 10px 0 0 35px;
    color: #DEDDE0;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: .6px;
}

.projects #pro::selection {
    background-color: #302C40;
    color: #0D86FF;
}

.projects .project-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-content: start; */
    /* margin-top: 60px; */
    margin-left: 58px;
    color: #DEDDE0;
    font-family: Fredoka, sans-serif;
    /* border: 1px solid #FFFFFF; */
    font-size: 18px;
}

.projects .project-list a,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.project-links {
    /* border: 2px solid #0D86FF; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 340px;
    user-select: none;
}

.project-links i {
    color: #0D86FF;
}

.projects .project-list a {
    /* line-height: 40px; */
    color: #0D86FF;
    margin-left: 20px;
}


.projects .project-list a:hover,
a:active {
    text-decoration: underline;
}