@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Mukta:wght@300;400;500&display=swap');

body {
    margin: 0;
    background: #272333;
    background-image: url(../Img/triangles-top.svg), url(../Img/triangles-bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: inherit;
    opacity: 1;
    z-index: -1;
}

.main {
    position: relative;
    font-family: Mukta, sans-serif;
    width: 100%;
    height: 100%;
}

.main .main-wrap {
    /* padding: 70px 80px; */
    position: relative;
    margin: 100px 0 0 80px;
    display: grid; 
    width: fit-content;
    height: fit-content;
    padding-bottom: 40px;
    /* justify-content: center; */
}

.profile-box {
    position: fixed;
    width: 310px;
    height: 550px;
    background-color: #302C40;
    border-radius: 20px;
    color: #DEDDE0;
    /* bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box #img {
    user-select: none;
    position: absolute;
    top: -60px;
    width: 180px;
    border-radius: 40px;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-box #name {
    position: absolute;
    top: 110px;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
}

.profile-box #name::selection {
    background-color: #302C40;
    color: #0D86FF;
}

.profile-box #role {
    margin-top: 140px;
    font-size: 17.5px;
    letter-spacing: 0.7px;
    background: #272333;
    padding: 1px 12px;
    border-radius: 50px;
}

#role::selection {
    background-color: #272333;
    color: #0D86FF;
}

.social-media {
    margin: 10px 0 5px 0;
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 10px;
}

.social-media a,
a:visited,
a:hover,
a:active {
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

.social-media::selection {
    background-color: #302C40;
    color: #0D86FF;
}

.social-media .fa-facebook,
.fa-telegram,
.fa-linkedin-in,
.fa-twitter {
    font-size: 18px;
}

.profile-box .icons {
    padding-left: 50px;
    width: 250px;
    font-size: 15px;
    letter-spacing: .8px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.profile-box .icons::selection {
    background-color: #302C40;
    color: #0D86FF;
}

.profile-box .fa-calendar-day,
.fa-location-dot,
.fa-envelope {
    margin-right: 25px;
}

.profile-box .download-btn button {
    margin-top: 15px;
    background: #0D86FF;
    width: 200px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Fredoka, sans-serif;
    font-weight: 400;
    color: #DEDDE0;
    display: flex;
    border-radius: 20px;
    letter-spacing: .5px;
    box-shadow: 0 -0.25rem 2rem rgba(13, 134, 255, 0.20), 0 0.25rem 2rem rgba(13, 134, 255, 0.20);
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.profile-box .download-btn button:hover {
    box-shadow: 0 -0.25rem 2rem rgba(13, 134, 255, 0.32), 0 0.25rem 2rem rgba(13, 134, 255, 0.32);
    transition: .3s ease-in-out;
}

.profile-box .download-btn button img {
    width: 30px;
    height: 30px;
    margin: -2px 8px 0 3px;
}